<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
    <Properties>
        <Property name="log-path">src/main/resources/logs/</Property>
    </Properties>
    <Appenders>
        <RollingFile>
            <name>RollingFile</name>
            <fileName>${log-path}/TOSAD.log</fileName>
            <filePattern>${log-path}/TOSAD-%d{yyyy-MM-dd HH mm ss}.log</filePattern>
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy>
                    <size>4 MB</size>
                </SizeBasedTriggeringPolicy>
            </Policies>
            <DefaultRolloverStrategy>
                <max>1</max>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger>
            <name>root</name>
            <level>debug</level>
            <additivity>false</additivity>
            <appender-ref>
                <ref>RollingFile</ref>
                <level>debug</level>
            </appender-ref>
        </Logger>
        <Root>
            <level>debug</level>
            <additivity>false</additivity>
            <AppenderRef>
                <ref>RollingFile</ref>
            </AppenderRef>
        </Root>
    </Loggers>
</Configuration>